.product-card .card-img-top {
    width: auto;
    height: 200px;
    align-self: center;
    margin: 10px;
}
.product-card {
    width: 300px;
    height: auto;
    margin: 10px 0;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
button{
    margin: 5px;
    align-self: center;
}
.icons{
    width: 20px;
    height: 20px;
}  